{% extends 'layout.html' %} 
{% block title %}Blog{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %} 

  <div class="container">
    <div class="blog">

    <h1 class="text-center">Our Blog </h1>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="card_1">
            <div class="img">
              <img src="/static/images/card/1644255961342-car-rentals-pakistan.jpg" class="img-fluid" alt="">
            </div>
            <div class="text-card">
              <h4> Briana Tozour</h4>
              <h6> Graphic Designer</h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil
                minus
                sed
                unde voluptas cumque.</p>
              <a href="">Read more</a>

            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card_1">
            <div class="img">
              <img src="/static/images/card/1651837077097-self-drive-car-rental.jpg" class="img-fluid" alt="">
            </div>
            <div class="text-card">
              <h4> Briana Tozour</h4>
              <h6> Graphic Designer</h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil
                minus
                sed
                unde voluptas cumque.</p>
              <a href="">Read more</a>

            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card_1">
            <div class="img">
              <img src="/static/images/card/1645359055187-rently-award-2022.jpg" class="img-fluid" alt="">
            </div>
            <div class="text-card">
              <h4> Briana Tozour</h4>
              <h6> Graphic Designer</h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil
                minus
                sed
                unde voluptas cumque.</p>
              <a href="">Read more</a>

            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="blog">

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="card_1">
            <div class="img">
              <img src="/static/images/card/1644255961342-car-rentals-pakistan.jpg" class="img-fluid" alt="">
            </div>
            <div class="text-card">
              <h4> Briana Tozour</h4>
              <h6> Graphic Designer</h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil
                minus
                sed
                unde voluptas cumque.</p>
              <a href="">Read more</a>

            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card_1">
            <div class="img">
              <img src="/static/images/card/1651837077097-self-drive-car-rental.jpg" class="img-fluid" alt="">
            </div>
            <div class="text-card">
              <h4> Briana Tozour</h4>
              <h6> Graphic Designer</h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil
                minus
                sed
                unde voluptas cumque.</p>
              <a href="">Read more</a>

            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card_1">
            <div class="img">
              <img src="/static/images/card/1645359055187-rently-award-2022.jpg" class="img-fluid" alt="">
            </div>
            <div class="text-card">
              <h4> Briana Tozour</h4>
              <h6> Graphic Designer</h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil
                minus
                sed
                unde voluptas cumque.</p>
              <a href="">Read more</a>

            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="blog">

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="card_1">
            <div class="img">
              <img src="/static/images/card/1644255961342-car-rentals-pakistan.jpg" class="img-fluid" alt="">
            </div>
            <div class="text-card">
              <h4> Briana Tozour</h4>
              <h6> Graphic Designer</h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil
                minus
                sed
                unde voluptas cumque.</p>
              <a href="">Read more</a>

            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card_1">
            <div class="img">
              <img src="/static/images/card/1651837077097-self-drive-car-rental.jpg" class="img-fluid" alt="">
            </div>
            <div class="text-card">
              <h4> Briana Tozour</h4>
              <h6> Graphic Designer</h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil
                minus
                sed
                unde voluptas cumque.</p>
              <a href="">Read more</a>

            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card_1">
            <div class="img">
              <img src="/static/images/card/1645359055187-rently-award-2022.jpg" class="img-fluid" alt="">
            </div>
            <div class="text-card">
              <h4> Briana Tozour</h4>
              <h6> Graphic Designer</h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil
                minus
                sed
                unde voluptas cumque.</p>
              <a href="">Read more</a>

            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
{% endblock %}