{% extends 'admin-layout.html' %} 
{% block title %}Registered Vehicles{% endblock %}
{% block head %}
{{ super() }}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
{% block content %}
<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white me-2">
        <i class="mdi mdi-car"></i>
      </span> Registered Vehicles
    </h3>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <!-- <li class="breadcrumb-item active" aria-current="page">
          <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
        </li> -->
      </ul>
    </nav>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body table-responsive">
            <!-- <h4 class="card-title">Hoverable Table</h4>
            <p class="card-description"> Add class <code>.table-hover</code> -->
            </p>
            <table class="table table-hover  ">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Transmission</th>
                  <th>Full Day</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for i in cars %}
                <tr>
                  <td>{{i._id}}</td>
                  <td>{{i.name}}</td>
                  <td>{{i.price_per_day}}</td>
                  <td>{{i.transmission}}</td>
                  <td>{{i.full_day}}</td>
                  <td><label class="badge badge-danger">Registered</label></td>
                  <!-- <td><label class="badge badge-warning">In progress</label></td>
                  <td><label class="badge badge-info">Fixed</label></td>
                  <td><label class="badge badge-success">Completed</label></td>
                  <td><label class="badge badge-warning">In progress</label></td> -->
                  <td><div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Actions</button>
                    <div class="dropdown-menu" style="">
                      <a href="/static/images/cars/{{i.pic}}" target="_blank" class="dropdown-item">View</a>
                      <!-- <a href="view/registered-vehicle/{{i._id}}" class="dropdown-item">View</a> -->
                      <a href="/edit-registered-vehicle/{{i._id}}" class="dropdown-item">Edit</a>
                      <a href="/delete-registered-vehicle/{{i._id}}" class="dropdown-item">Delete</a>
                    </div>
                  </div></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="container">
        <a href="/add-vehicle"><button type="button" class="btn btn-gradient-success btn-icon-text">
            <i class="mdi mdi-upload btn-icon-prepend"></i> Add Vehicle </button></a>
      </div>
  </div>
</div>

        
{% endblock %}

{% block scripts %}
{% if deleted %}
<script>
  Swal.fire(
  'Success!',
  '{{deleted}}',
  'Success'
)
</script>
{% endif %}

{% endblock %}

